<div class="container">
        <h1>Formularios</h1>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" class="form-control" type="text" name="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" class="form-control" type="text" name="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="Mensaje">Mensaje</label>
                    <textarea id="Mensaje" class="form-control" name="" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="button" name="" id="bntMessage" class="btn btn-primary btn-lg btn-block">Enviar Mensaje</button>
            </div>
        </div>
    </div>